body{
    display: grid;
    height: 90vh;
    justify-content: center;
    align-content: center;
    font-size: 18px;
    font-weight: 600;
}

.message {
    display: flex;
    background: #dfcece;
    margin: 0.25rem 0;
}
.user {
    width: 200px;
}